<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Battleships</title>
</head>
<body>
    <h1>Create new game</h1>
    <form action="/create" method="post">
        <fieldset>
            <legend>Game type:</legend>

            <div>
                <input type="radio" id="single" name="type" value="single" checked />
                <label for="single">Single player</label>
            </div>

            <div>
                <input type="radio" id="multy-public" name="type" value="multi-public" />
                <label for="multy-public">Multiplayer public</label>
            </div>

            <div>
                <input type="radio" id="multy-private" name="type" value="multi-private" />
                <label for="multy-private">Multiplayer private</label>
            </div>
        </fieldset>

        <br />

        <select>
            <option value="classic">Classic game</option>
            <option value="classic" disabled>Custom game</option>
        </select>

        <fieldset>
            <legend>Game settings:</legend>

            <div>
                <label for="cols">Grid cols:</label>
                <input type="text" id="cols" name="cols" value="10" readonly>
            </div>

            <div>
                <label for="rows">Grid rows:</label>
                <input type="text" id="rows" name="rows" value="10" readonly>
            </div>

            <div>
                <label for="carrier">Carriers:</label>
                <input type="text" id="carrier" name="carrier" value="1" readonly>
            </div>

            <div>
                <label for="battleship">Battleships:</label>
                <input type="text" id="battleship" name="battleship" value="2" readonly>
            </div>

            <div>
                <label for="destroyer">Carriers:</label>
                <input type="text" id="destroyer" name="destroyer" value="3" readonly>
            </div>

            <div>
                <label for="patrol-boat">Patrol boats:</label>
                <input type="text" id="patrol-boat" name="patrolboat" value="4" readonly>
            </div>
        </fieldset>

        <input type="submit" value="Submit">
    </form>
</body>
</html>