<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Battleships</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script type="text/javascript" src="/static/game.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <div class="container-sm">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Main</a></li>
              <li class="breadcrumb-item"><a href="/list">List</a></li>
              <li class="breadcrumb-item active" aria-current="page">Game</li>
            </ol>
        </nav>

        <p id="waiting-message">Waiting for opponent...</p>
        <div class="row" id="game-boards" style="visibility: hidden">
            <div class="col-sm-6 order-sm-2">
                <canvas style="background-color: azure;" id="shots-board" width="500" height="500"></canvas>
            </div>
            <div class="col-sm-6 text-end order-sm-1">
                <canvas style="background-color: azure;" id="ships-board" width="500" height="500"></canvas>
            </div>
        </div>
    </div>
    <script>
        var exports = {}
        const gameId = '<%= gameId %>'
        window.gameId = gameId
        const d = new Date()
        d.setTime(d.getTime() + (1*24*60*60*1000))
        let expires = "expires="+ d.toUTCString()
        document.cookie = "gameId=" + gameId + ";" + expires + ";path=/"

        const urlParams = new URLSearchParams(window.location.search)
        window.playerId = urlParams.get('playerId')
        document.cookie = "playerId=" + window.playerId + ";" + expires + ";path=/"
     </script>
</body>
</html>