<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Battleships</title>
    <script type="text/javascript" src="/static/ships.js"></script>
</head>
<body>
    <h1>Join '<%- gameId %>' game</h1>
    <canvas style="background-color: azure;" id="placement-board" width="500" height="500"></canvas>

    <button onclick="window.rotateShip()" id="rotate-ship" disabled>Rotate</button>
    <button onclick="window.shuffleShip()" id="shuffle-button" disabled>Shuffle</button>
    <form action="/join/<%= gameId %>" method="post">
        <input type="submit" id="submit-ships" value="Submit">
    </form>
    <script>
        window.gameId = '<%- gameId %>';
    </script>
</body>
</html>