<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Battleships</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script type="text/javascript" src="/static/ships.js"></script>
</head>
<body>
    <div class="container-sm">
        <div class="row text-center">
            <h1 style="line-height: 105px;">Join game</h1>
        </div>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Main</a></li>
              <li class="breadcrumb-item"><a href="/list">List</a></li>
              <li class="breadcrumb-item active" aria-current="page">Join</li>
            </ol>
        </nav>

        <div class="row text-center">
            <div class="col-sm-12">
                <canvas style="background-color: azure; margin: 0 auto;" id="placement-board" width="500" height="500"></canvas>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-10">
                <button class="btn btn-outline-info" onclick="window.rotateShip()" id="rotate-ship" disabled>Rotate</button>
                <button class="btn btn-outline-info" onclick="window.shuffleShip()" id="shuffle-button" disabled>Shuffle</button>
            </div>
            <div class="col-sm-2">
                <form action="/join/<%= gameId %>" method="post">
                    <button type="submit" class="btn btn-primary form-control" id="submit-ships">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <script>
        window.gameId = '<%- gameId %>'
        window.cols = '<%- cols %>'
        window.rows = '<%- rows %>'
    </script>
</body>
</html>