<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Battleships</title>
</head>
<body>
    <h1>Join game</h1>
    <form action="/join/<%= gameId %>" method="post">
        <p>Here will be the game board where you will be able to place your ships</p>
        <input type="submit" value="Submit">
    </form>
</body>
</html>