<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Battleships</title>
</head>
<body>
    <h1>Main menu</h1>
    <a href="/create">Create game</a><br />
    <a href="/list">Join game</a><br />
</body>
</html>